{% set title = "Home" %} 
{% extends "layout/app.html" %} 
{% block body %}

<div class="container">
  
    <!-- <div class="demo-flex-spacer"></div> -->

  
    
    <div class="webflow-style-input">
      <input class=""  name="slug" placeholder="slug" value="semiurl.xyz/">
      <!-- <button type="submit"> -->
        
<div class="spinner-border text-light" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
      <!-- </button> -->
    </div>

    <div class="webflow-style-input">
      <input class=""  name="link" placeholder="Enter your Link you want to shorten">
      <button type="submit"><i class="fa fa-arrow-circle-right"></i></button>
    </div>
  
    <!-- <div class="demo-flex-spacer"></div> -->
    <!-- <h1 class="demo">Webflow-style input</h1>
    <a class="demo" href="https://webflow.com/cms" title="Webflow CMS">https://webflow.com/cms</a> -->

    
    
  </div>
 

{% endblock %}

{% block scripts %}

<script>
  console.log('hello world');
  $("input[name='slug']").keydown(function(e) {
    console.log('f');
    var oldvalue=$(this).val();
    var field=this;
    setTimeout(function () {
        if(field.value.indexOf('semiurl.xyz/') !== 0) {
            $(field).val(oldvalue);
        } 
    }, 1);
});
</script>
{% endblock %}